.list-games-body {
    display: flex;
    justify-content: space-evenly;
}

.game-list-ul li {
    list-style: none;
}

.game-link{
    margin: 10px 0;
}

.list-games-title {
    text-align: center;
}

.start-game-button {
    margin: 20px 0;
}
