.scoreboard-body-title{
    text-align: center;
}

.scoreboard-body-container{
    display: flex;
    justify-content: space-evenly;
}

.scoreboard-body-containter-game{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard-body-containter-game-title{
    text-align: center;
}

.scoreboard-body-container-leaderboard{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard-body-container-search{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
