.edit-information-container {
    display: flex;
    flex-direction: column;
}

.edit-information-button-update{
    width: fit-content;
    margin-left: 10px;
}

.edit-information-input{
    margin-left: 5px;
}