.game-list-container {
    display: flex;
    flex-direction: column;
}

.game-list-ul {
    padding: 0;
    margin: 0;
}

.game-list-ul li {
    list-style: none;
}

.game-link{
    margin: 10px 0;
}

.game-list-title {
    margin: 20px 0;
} 

.start-game-button {
    margin: 20px 0;
}
