.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-context{
    max-width: 400px;
    text-align: justify;
}

textarea {
    width: 400px;
    height: 100px;
}